{% extends "base.html" %} {% block title %} Отчет по проекту {% endblock %} {%
block content %}

<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Сотрудник</th>
      <th scope="col">Задача</th>
      <th scope="col">Статус задачи</th>
      <th scope="col">Время в статусе (рабочее)</th>
    </tr>
  </thead>
  <tbody>
    {% for line in tar_driver.report.all() %}
    <tr>
      <th scope="row">{{tar_driver.report.all().index(line)}}</th>
      <td>{{line['person_name']}}</td>
      <td>{{line['card_name']}}</td>
      <td>{{line['list_name']}}</td>
      <td>{{line['list_time']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
